.searchbox {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 35px;
    width: 160px; 
    font-size: 12px;
    font-family: Roboto, sans-serif; 
    background-color: rgba 240,240,240, 1;
  }
  
  .searchbox::placeholder {
    color: #1e1414; 
  }
  
  .searchbox:hover {
    border-color: hwb(210 43% 15%); 
    background-color: rgba 240,240,240, 0.4;
  }

