.create-lien-component {
  max-width: 512px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(24, 17, 20 );
}

.create-lien-component h2 {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.015em;
  padding: 20px 16px 12px;
}

.lien-info {
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #261c21;
  border-radius: 12px;
  margin-bottom: 12px;
}

.label {
  color: #b89dab;
}

.value {
  color: #ffffff;
  font-weight: bold;
}

.input-group {
  margin-bottom: 12px;
  padding: 0 16px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #b89dab;
}

.input-group input {
  width: 100%;
  height: 56px;
  padding: 15px;
  background-color: #261c21;
  border: 1px solid #533c47;
  border-radius: 12px;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
}

.input-group input:focus {
  outline: none;
  border-color: #533c47;
}

.input-group input::placeholder {
  color: #b89dab;
}

.cancel-button {
  width: 100%;
  padding: 12px 24px;
  background-color: #533c47;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #3b2934;
}

.cancel-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #b89dab;
}


.submit-button {
  width: 100%;
  padding: 12px 24px;
  background-color: #b7e3cc;
  color: #261c21;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 10px;
}

.submit-button:hover {
  background-color: #a5d1b9;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(183, 227, 204, 0.5);
}
.error, .success {
  margin-top: 16px;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  color: #ffffff;
}

.error {
  background-color: #f44336;
}

.success {
  background-color: #4caf50;
}